<style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
    }
    ul {
      position: sticky;
      top: 0;
    }
   
    nav {
      background-color: #222;
      padding: 10px;
      display: flex;
    }

    nav a {
      color: white;
      text-decoration: none;
      margin-right: 20px;
      padding: 8px 12px;
    }

    nav a:hover {
      background-color: #444;
    }

    /* Banner */
    .banner {
      width: 1000px;
      height: 200px;
      display: block;
      margin: auto;
    }

    .content {
      padding: 20px;
    }
  </style>
