body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;              
  background-color: #222;
  padding: 10px 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 4px;
}


.nav-link:hover {
  background-color: #444;
}


.nav-link.active {
  background-color: #007bff;
}

